# Project to understand how socioeconomic factors influence SAT scores. Uses data provided by New York City concering SAT scores, school demographics, AP Test scores, class sizes, school location/information, and graduation rates

### Read data

In [84]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import re
plt.style.use('seaborn')
%matplotlib inline

In [10]:
data_files = ["ap_2010.csv","class_size_2010_2011.csv","demographics_2006_to_2012.csv","graduation_2005_to_2010.csv","hs_directory_2014_2015.csv","sat_results_2012.csv"]
data = {}
keys = ["ap_results","class_size","demographics","graduation",'hs_directory','sat_results']

In [12]:
for key,data_file in zip(keys,data_files):
    data[key] = pd.read_csv(os.path.join('schools',data_file))

In [14]:
data['sat_results']

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
...,...,...,...,...,...,...
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

In [17]:
data['ap_results']

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,10.0
1,01M450,EAST SIDE COMMUNITY HS,19.0,21.0,NaN
2,01M515,LOWER EASTSIDE PREP,24.0,26.0,24.0
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255.0,377.0,191.0
4,02M296,High School of Hospitality Management,NaN,NaN,NaN
...,...,...,...,...,...
253,31R605,STATEN ISLAND TECHNICAL HS,528.0,905.0,809.0
254,32K545,EBC-HS FOR PUB SERVICE (BUSH),47.0,64.0,13.0
255,32K552,Academy of Urban Planning,76.0,100.0,10.0
256,32K554,All City Leadership Secondary School,7.0,8.0,NaN
257,32K556,Bushwick Leaders High School for Academic Exce...,34.0,35.0,18.0

In [18]:
data['class_size']

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1

In [19]:
data['demographics']

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10070,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20072008,85.6,NaN,355,NaN,NaN,NaN,NaN,...,151,42.5,198,55.8,5,1.4,181.0,51.0,174.0,49.0
10071,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20082009,65.2,NaN,383,NaN,NaN,NaN,NaN,...,132,34.5,245,64.0,2,0.5,206.0,53.8,177.0,46.2
10072,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20092010,,89.2,395,NaN,NaN,NaN,NaN,...,146,37.0,242,61.3,3,0.8,199.0,50.4,196.0,49.6
10073,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20102011,,88.2,420,NaN,NaN,NaN,NaN,...,166,39.5,242,57.6,8,1.9,209.0,49.8,211.0,50.2
10074,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20112012,NaN,81.8,382,,,,,...,137,35.9,235,61.5,7,1.8,169.0,44.2,213.0,55.8

In [20]:
data['graduation']

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,NaN,s,NaN,NaN,...,s,NaN,NaN,s,NaN,NaN,s,NaN,s,NaN
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3,17,30.9,45.9,...,17,30.9,45.9,20,36.4,54.1,15,27.3,3,5.5
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2,27,42.2,62.8,...,27,42.2,62.8,16,25.0,37.2,9,14.1,9,14.1
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1,36,46.2,83.7,...,36,46.2,83.7,7,9.0,16.3,16,20.5,11,14.1
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4,37,47.4,84.1,...,37,47.4,84.1,7,9.0,15.9,15,19.2,11,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25091,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,65,1,1.5,0,0.0,0.0,...,0,0.0,0.0,1,1.5,100.0,44.0,67.7,20.0,30.8
25092,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,64,2,3.1,0,0.0,0.0,...,0,0.0,0.0,2,3.1,100.0,38.0,59.4,22.0,34.4
25093,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,79,3,3.8,1,1.3,33.3,...,1,1.3,33.3,2,2.5,66.7,46.0,58.2,28.0,35.4
25094,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006,57,4,7.0,2,3.5,50.0,...,2,3.5,50.0,2,3.5,50.0,34.0,59.6,17.0,29.8
25095,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006 Aug,57,4,7.0,2,3.5,50.0,...,2,3.5,50.0,2,3.5,50.0,34.0,59.6,17.0,29.8

In [21]:
data['hs_directory']

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority08,priority09,priority10,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,21K540,John Dewey High School,Brooklyn,K540,718-373-6400,718-266-4385,9.0,12,NaN,NaN,...,NaN,NaN,NaN,"50 Avenue\nX Brooklyn, NY 11223\n(40.589238098...",13.0,47.0,308.0,3194998.0,3.071850e+09,Gravesend ...
1,15K429,Brooklyn School for Global Studies,Brooklyn,K293,718-694-9741,718-694-9745,6.0,12,NaN,NaN,...,NaN,NaN,NaN,"284 Baltic Street\nBrooklyn, NY 11201\n(40.685...",6.0,33.0,69.0,3006401.0,3.004020e+09,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hi...
2,24Q530,International High School at LaGuardia Communi...,Queens,Q520,718-392-3433,718-392-3443,9.0,12,NaN,NaN,...,NaN,NaN,NaN,"45 35 Van Dam Street\nLong Island City, NY 111...",2.0,26.0,179.0,4003442.0,4.002490e+09,Hunters Point-Sunnyside-West Maspeth ...
3,05M367,Academy for Social Action: A College Board School,Manhattan,M043,212-234-3102,212-234-8597,9.0,12,NaN,NaN,...,NaN,NaN,NaN,"509 West 129 Street\nNew York, NY 10027\n(40.8...",9.0,7.0,219.0,1059723.0,1.019840e+09,Manhattanville ...
4,27Q260,Frederick Douglass Academy VI High School,Queens,Q465,718-471-2154,718-471-2890,9.0,12,NaN,NaN,...,NaN,NaN,NaN,"8 21 Bay 25 Street\nFar Rockaway, NY 11691\n(4...",14.0,31.0,100802.0,4300730.0,4.157360e+09,Far Rockaway-Bayswater ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,02M300,Urban Assembly School of Design and Constructi...,Manhattan,M535,212-586-0981,212-586-1731,9.0,12,NaN,NaN,...,NaN,NaN,NaN,"525 West 50Th Street\nNew York, NY 10019\n(40....",4.0,3.0,135.0,1083802.0,1.010790e+09,Clinton ...
431,09X412,Bronx High School of Business,Bronx,X410,718-410-4060,718-992-5760,9.0,12,NaN,NaN,...,NaN,NaN,NaN,"240 East 172 Street\nBronx, NY 10457\n(40.8403...",4.0,16.0,225.0,2007806.0,2.028170e+09,East Concourse-Concourse Village ...
432,32K549,Bushwick School for Social Justice,Brooklyn,K480,718-381-7100,718-418-0192,9.0,12,NaN,NaN,...,NaN,NaN,NaN,"400 Irving Avenue\nBrooklyn, NY 11237\n(40.696...",4.0,37.0,435.0,3076908.0,3.033650e+09,Bushwick North ...
433,02M407,Institute for Collaborative Education,Manhattan,M475,212-475-7972,212-475-0459,6.0,12,NaN,NaN,...,NaN,NaN,NaN,"345 East 15Th Street\nNew York, NY 10003\n(40....",6.0,2.0,48.0,1020419.0,1.009220e+09,Gramercy ...
434,21K344,Rachel Carson High School for Coastal Studies,Brooklyn,K303,718-265-0329,718-372-2514,9.0,12,NaN,NaN,...,NaN,NaN,NaN,"521 West Avenue\nBrooklyn, NY 11224\n(40.58211...",13.0,47.0,354.0,3196292.0,3.072500e+09,West Brighton ...

### Read survey information

In [24]:
all_survey = pd.read_csv(os.path.join("schools","survey_all.txt"),sep='\t',encoding="windows-1252")

In [29]:
d75_survey = pd.read_csv(os.path.join("schools","survey_d75.txt"),sep='\t',encoding='windows-1252')

In [30]:
all_survey

,dbn,bn,schoolname,d75,studentssurveyed,highschool,schooltype,rr_s,rr_t,rr_p,...,s_N_q14e_3,s_N_q14e_4,s_N_q14f_1,s_N_q14f_2,s_N_q14f_3,s_N_q14f_4,s_N_q14g_1,s_N_q14g_2,s_N_q14g_3,s_N_q14g_4
0,01M015,M015,P.S. 015 Roberto Clemente,0,No,0.0,Elementary School,NaN,88,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01M019,M019,P.S. 019 Asher Levy,0,No,0.0,Elementary School,NaN,100,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01M020,M020,P.S. 020 Anna Silver,0,No,0.0,Elementary School,NaN,88,73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01M034,M034,P.S. 034 Franklin D. Roosevelt,0,Yes,0.0,Elementary / Middle School,89.0,73,50,...,20.0,16.0,23.0,54.0,33.0,29.0,31.0,46.0,16.0,8.0
4,01M063,M063,P.S. 063 William McKinley,0,No,0.0,Elementary School,NaN,100,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1641,84X705,X705,Family Life Academy Charter School,0,Yes,0.0,Elementary / Middle School,100.0,80,62,...,0.0,0.0,68.0,8.0,0.0,0.0,74.0,2.0,0.0,0.0
1642,84X706,X706,Harriet Tubman Charter School,0,Yes,0.0,Elementary / Middle School,97.0,68,88,...,25.0,15.0,23.0,67.0,30.0,20.0,35.0,33.0,5.0,11.0
1643,84X717,X717,Icahn Charter School 1,0,Yes,0.0,Elementary / Middle School,100.0,100,67,...,16.0,3.0,30.0,46.0,20.0,11.0,51.0,41.0,3.0,4.0
1644,84X718,X718,Bronx Charter School for Better Learning,0,No,0.0,Elementary School,NaN,76,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,84X730,X730,Bronx Charter School for Arts,0,Yes,0.0,Elementary School,100.0,59,52,...,0.0,0.0,11.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0

In [31]:
d75_survey

,dbn,bn,schoolname,d75,studentssurveyed,highschool,schooltype,rr_s,rr_t,rr_p,...,s_q14_2,s_q14_3,s_q14_4,s_q14_5,s_q14_6,s_q14_7,s_q14_8,s_q14_9,s_q14_10,s_q14_11
0,75K004,K004,P.S. K004,1,Yes,0.0,District 75 Special Education,38.0,90,72,...,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,75K036,K036,P.S. 36,1,Yes,NaN,District 75 Special Education,70.0,69,44,...,20.0,27.0,19.0,9.0,2.0,6.0,1.0,2.0,0.0,0.0
2,75K053,K053,P.S. K053,1,Yes,NaN,District 75 Special Education,94.0,97,53,...,14.0,12.0,12.0,10.0,21.0,13.0,11.0,2.0,0.0,0.0
3,75K077,K077,P.S. K077,1,Yes,NaN,District 75 Special Education,95.0,65,55,...,14.0,14.0,7.0,11.0,16.0,10.0,6.0,4.0,7.0,7.0
4,75K140,K140,P.S. K140,1,Yes,0.0,District 75 Special Education,77.0,70,42,...,35.0,34.0,17.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
5,75K141,K141,P.S. K141,1,Yes,NaN,District 75 Special Education,73.0,55,29,...,26.0,34.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
6,75K231,K231,P.S. K231,1,Yes,0.0,District 75 Special Education,100.0,74,86,...,25.0,50.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,75K368,K368,P.S. 368,1,Yes,NaN,District 75 Special Education,76.0,93,36,...,17.0,21.0,24.0,12.0,10.0,6.0,6.0,4.0,0.0,0.0
8,75K369,K369,P.S. K369 - Coy L. Cox School,1,Yes,NaN,District 75 Special Education,70.0,88,20,...,19.0,22.0,15.0,9.0,10.0,13.0,4.0,2.0,0.0,0.0
9,75K370,K370,P.S. 370,1,Yes,NaN,District 75 Special Education,46.0,84,46,...,0.0,0.0,9.0,13.0,30.0,30.0,9.0,9.0,0.0,0.0
10,75K371,K371,P.S. 371 - Lillian L. Rashkis,1,Yes,NaN,District 75 Special Education,44.0,93,45,...,0.0,0.0,15.0,22.0,36.0,14.0,10.0,1.0,1.0,0.0
11,75K372,K372,P.S. 372 -The Children's School,1,No,0.0,District 75 Special Education,NaN,64,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,75K373,K373,P.S. 373 - Brooklyn Transition Center,1,Yes,NaN,District 75 Special Education,72.0,59,28,...,0.0,0.0,12.0,12.0,8.0,14.0,19.0,23.0,10.0,3.0
13,75K396,K396,P.S. K396,1,Yes,0.0,District 75 Special Education,28.0,83,26,...,20.0,36.0,16.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
14,75K721,K721,P.S. K721 - Brooklyn Occupational Training Center,1,Yes,NaN,District 75 Special Education,91.0,95,32,...,0.0,0.0,5.0,22.0,19.0,17.0,15.0,9.0,9.0,3.0
15,75K753,K753,P.S. K753 - School for Career Development,1,Yes,NaN,District 75 Special Education,62.0,77,29,...,0.0,0.0,6.0,11.0,18.0,18.0,21.0,10.0,10.0,5.0
16,75K771,K771,P.S. K771,1,Yes,NaN,District 75 Special Education,92.0,88,54,...,25.0,30.0,5.0,8.0,5.0,8.0,7.0,0.0,0.0,0.0
17,75K811,K811,P.S. K811 Connie Lekas School,1,Yes,NaN,District 75 Special Education,92.0,74,24,...,4.0,2.0,10.0,10.0,15.0,15.0,16.0,8.0,12.0,5.0
18,75M035,M035,P.S. 035,1,Yes,NaN,District 75 Special Education,25.0,73,18,...,0.0,6.0,6.0,17.0,26.0,19.0,17.0,6.0,2.0,0.0
19,75M079,M079,P.S. M079 - Horan School,1,Yes,NaN,District 75 Special Education,57.0,45,43,...,0.0,1.0,4.0,14.0,11.0,23.0,20.0,12.0,10.0,4.0
20,75M094,M094,P.S. M094,1,Yes,0.0,District 75 Special Education,100.0,71,50,...,36.0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,75M138,M138,P.S. 138,1,Yes,NaN,District 75 Special Education,4.0,87,23,...,0.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0
22,75M169,M169,P.S. M169 - Robert F. Kennedy,1,Yes,NaN,District 75 Special Education,98.0,84,66,...,26.0,33.0,17.0,6.0,1.0,6.0,1.0,2.0,0.0,0.0
23,75M226,M226,P.S. M226,1,Yes,NaN,District 75 Special Education,89.0,55,41,...,6.0,8.0,6.0,2.0,11.0,25.0,8.0,13.0,3.0,6.0
24,75M721,M721,P.S. M721 - Manhattan Occupational Training Ce...,1,Yes,NaN,District 75 Special Education,83.0,96,55,...,0.0,0.0,5.0,13.0,13.0,10.0,21.0,13.0,15.0,10.0
25,75M751,M751,Manhattan School for Career Development,1,Yes,NaN,District 75 Special Education,70.0,97,27,...,0.0,0.0,3.0,7.0,13.0,9.0,16.0,22.0,18.0,12.0
26,75M811,M811,P.S. M811 - Mickey Mantle School,1,Yes,0.0,District 75 Special Education,62.0,61,54,...,33.0,26.0,21.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
27,75Q004,Q004,P.S. Q004,1,Yes,0.0,District 75 Special Education,89.0,92,54,...,30.0,17.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,75Q009,Q009,P.S. 009,1,Yes,0.0,District 75 Special Education,57.0,61,39,...,23.0,35.0,29.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
29,75Q023,Q023,P.S. Q023 @ Queens Children Center,1,Yes,NaN,District 75 Special Education,75.0,93,21,...,11.0,18.0,13.0,15.0,14.0,13.0,10.0,1.0,0.0,0.0
30,75Q075,Q075,Robert E. Peary School,1,Yes,NaN,District 75 Special Education,40.0,69,28,...,25.0,50.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,75Q177,Q177,P.S. Q177,1,Yes,NaN,District 75 Special Education,64.0,70,41,...,9.0,17.0,24.0,18.0,13.0,5.0,6.0,3.0,2.0,0.0
32,75Q224,Q224,P.S. Q224,1,Yes,0.0,District 75 Special Education,97.0,75,49,...,36.0,34.0,12.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
33,75Q233,Q233,P.S. Q233,1,Yes,NaN,District 75 Special Education,85.0,73,26,...,1.0,3.0,10.0,19.0,12.0,17.0,12.0,12.0,11.0,2.0
34,75Q255,Q255,P.S. Q255,1,Yes,NaN,District 75 Special Education,71.0,60,48,...,17.0,17.0,33.0,8.0,0.0,17.0,8.0,0.0,0.0,0.0
35,75Q256,Q256,P.S. Q256,1,Yes,NaN,District 75 Special Education,88.0,93,46,...,12.0,14.0,22.0,15.0,22.0,13.0,1.0,0.0,0.0,1.0
36,75Q721,Q721,John F. Kennedy Jr. School,1,Yes,NaN,District 75 Special Education,90.0,77,43,...,0.0,0.0,2.0,4.0,13.0,11.0,13.0,11.0,17.0,30.0
37,75Q752,Q752,Queens Transition Center,1,Yes,NaN,District 75 Special Education,45.0,47,9,...,0.0,1.0,5.0,15.0,21.0,23.0,19.0,12.0,3.0,1.0
38,75Q811,Q811,P.S. Q811,1,Yes,NaN,District 75 Special Education,75.0,71,34,...,4.0,0.0,7.0,13.0,17.0,7.0,19.0,14.0,11.0,4.0
39,75Q993,Q993,P.S. Q993,1,Yes,NaN,District 75 Special Education,87.0,76,47,...,6.0,8.0,16.0,17.0,11.0,10.0,7.0,10.0,9.0,3.0
40,75R025,R025,South Richmond High School I.S./P.S. 25,1,Yes,NaN,District 75 Special Education,57.0,75,21,...,7.0,11.0,14.0,17.0,17.0,17.0,9.0,4.0,0.0,1.0
41,75R037,R037,P.S. R037,1,Yes,NaN,District 75 Special Education,0.0,55,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,75R373,R373,P.S. R373,1,Yes,0.0,District 75 Special Education,92.0,60,34,...,70.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,75R721,R721,THE RICHARD H. HUNGERFORD SCHOOL,1,Yes,NaN,District 75 Special Education,96.0,93,57,...,11.0,11.0,12.0,9.0,6.0,15.0,12.0,6.0,11.0,4.0
44,75X010,X010,P.S. X010,1,Yes,0.0,District 75 Special Education,84.0,91,56,...,21.0,21.0,24.0,12.0,5.0,1.0,0.0,0.0,0.0,3.0
45,75X012,X012,P.S. X012 Lewis and Clark School,1,Yes,NaN,District 75 Special Education,19.0,47,9,...,0.0,0.0,3.0,21.0,35.0,15.0,6.0,18.0,0.0,3.0
46,75X017,X017,P.S. X017,1,Yes,0.0,District 75 Special Education,69.0,79,37,...,29.0,40.0,16.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
47,75X168,X168,P.S. 168,1,Yes,NaN,District 75 Special Education,92.0,71,53,...,21.0,30.0,13.0,4.0,3.0,6.0,1.0,0.0,0.0,0.0
48,75X176,X176,P.S. X176,1,Yes,NaN,District 75 Special Education,86.0,55,35,...,21.0,17.0,10.0,5.0,8.0,13.0,10.0,2.0,2.0,0.0
49,75X186,X186,P186X Walter J. Damrosch School,1,Yes,0.0,District 75 Special Education,95.0,67,32,...,26.0,36.0,22.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
50,75X188,X188,P.S. X188,1,Yes,NaN,District 75 Special Education,27.0,47,28,...,14.0,21.0,25.0,25.0,4.0,2.0,0.0,0.0,0.0,2.0
51,75X352,X352,The Vida Bogart School for All Children,1,Yes,0.0,District 75 Special Education,90.0,58,48,...,38.0,24.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,75X721,X721,P.S. X721 - Stephen McSweeney School,1,Yes,NaN,District 75 Special Education,84.0,90,48,...,1.0,1.0,9.0,21.0,31.0,15.0,9.0,5.0,5.0,2.0
53,75X723,X723,X723,1,Yes,NaN,District 75 Special Education,77.0,74,20,...,24.0,27.0,11.0,11.0,3.0,5.0,0.0,0.0,0.0,0.0
54,75X754,X754,J. M. Rapport School Career Development,1,Yes,NaN,District 75 Special Education,63.0,93,22,...,0.0,0.0,5.0,15.0,13.0,17.0,18.0,16.0,10.0,6.0
55,75X811,X811,P.S. X811,1,Yes,NaN,District 75 Special Education,38.0,63,19,...,2.0,0.0,0.0,7.0,7.0,19.0,29.0,17.0,12.0,7.0

In [33]:
survey = pd.concat([all_survey,d75_survey],axis=0)

In [34]:
survey

,dbn,bn,schoolname,d75,studentssurveyed,highschool,schooltype,rr_s,rr_t,rr_p,...,s_q14_2,s_q14_3,s_q14_4,s_q14_5,s_q14_6,s_q14_7,s_q14_8,s_q14_9,s_q14_10,s_q14_11
0,01M015,M015,P.S. 015 Roberto Clemente,0,No,0.0,Elementary School,NaN,88,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01M019,M019,P.S. 019 Asher Levy,0,No,0.0,Elementary School,NaN,100,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01M020,M020,P.S. 020 Anna Silver,0,No,0.0,Elementary School,NaN,88,73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01M034,M034,P.S. 034 Franklin D. Roosevelt,0,Yes,0.0,Elementary / Middle School,89.0,73,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01M063,M063,P.S. 063 William McKinley,0,No,0.0,Elementary School,NaN,100,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,75X352,X352,The Vida Bogart School for All Children,1,Yes,0.0,District 75 Special Education,90.0,58,48,...,38.0,24.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,75X721,X721,P.S. X721 - Stephen McSweeney School,1,Yes,NaN,District 75 Special Education,84.0,90,48,...,1.0,1.0,9.0,21.0,31.0,15.0,9.0,5.0,5.0,2.0
53,75X723,X723,X723,1,Yes,NaN,District 75 Special Education,77.0,74,20,...,24.0,27.0,11.0,11.0,3.0,5.0,0.0,0.0,0.0,0.0
54,75X754,X754,J. M. Rapport School Career Development,1,Yes,NaN,District 75 Special Education,63.0,93,22,...,0.0,0.0,5.0,15.0,13.0,17.0,18.0,16.0,10.0,6.0
55,75X811,X811,P.S. X811,1,Yes,NaN,District 75 Special Education,38.0,63,19,...,2.0,0.0,0.0,7.0,7.0,19.0,29.0,17.0,12.0,7.0

In [35]:
survey.rename({'dbn': 'DBN'},axis=1,inplace=True)

In [38]:
relevant_columns = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]

In [39]:
data['survey'] =survey[relevant_columns]

In [40]:
data['survey']

,DBN,rr_s,rr_t,rr_p,N_s,N_t,N_p,saf_p_11,com_p_11,eng_p_11,...,eng_t_11,aca_t_11,saf_s_11,com_s_11,eng_s_11,aca_s_11,saf_tot_11,com_tot_11,eng_tot_11,aca_tot_11
0,01M015,NaN,88,60,NaN,22.0,90.0,8.5,7.6,7.5,...,7.6,7.9,NaN,NaN,NaN,NaN,8.0,7.7,7.5,7.9
1,01M019,NaN,100,60,NaN,34.0,161.0,8.4,7.6,7.6,...,8.9,9.1,NaN,NaN,NaN,NaN,8.5,8.1,8.2,8.4
2,01M020,NaN,88,73,NaN,42.0,367.0,8.9,8.3,8.3,...,6.8,7.5,NaN,NaN,NaN,NaN,8.2,7.3,7.5,8.0
3,01M034,89.0,73,50,145.0,29.0,151.0,8.8,8.2,8.0,...,6.8,7.8,6.2,5.9,6.5,7.4,7.3,6.7,7.1,7.9
4,01M063,NaN,100,60,NaN,23.0,90.0,8.7,7.9,8.1,...,7.8,8.1,NaN,NaN,NaN,NaN,8.5,7.6,7.9,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,75X352,90.0,58,48,38.0,46.0,160.0,8.9,8.3,7.9,...,5.7,5.8,6.8,6.0,7.8,7.6,7.4,6.6,7.1,7.2
52,75X721,84.0,90,48,237.0,82.0,239.0,8.6,7.6,7.5,...,6.7,7.0,7.8,7.2,7.8,7.9,8.0,7.1,7.3,7.6
53,75X723,77.0,74,20,103.0,69.0,74.0,8.4,7.8,7.8,...,6.7,7.6,6.7,7.2,7.7,7.7,7.6,7.4,7.4,7.7
54,75X754,63.0,93,22,336.0,82.0,124.0,8.3,7.5,7.5,...,6.6,7.1,6.8,6.6,7.6,7.7,7.2,6.9,7.3,7.5
55,75X811,38.0,63,19,44.0,71.0,119.0,8.5,7.8,7.7,...,6.5,7.0,7.7,6.1,7.7,7.7,7.7,6.8,7.3,7.5

### Add DBN column to class_size df

In [42]:
class_size = data['class_size']

In [53]:
class_size

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1

In [51]:
def pad_zero(s):
    return s.zfill(2)

In [56]:
class_size['DBN'] = class_size['CSD'].astype('str').apply(pad_zero) + class_size['SCHOOL CODE']

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN,32K564
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN,32K564
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN,32K564
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN,32K564
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,32K564

### Combine SAT Scores

In [61]:
sat_results = data['sat_results']

In [62]:
sat_results

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
...,...,...,...,...,...,...
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

In [66]:
sat_results.iloc[:,-3:]= sat_results.iloc[:,-3:].apply(pd.to_numeric,errors='coerce')

In [75]:
sat_results['sat_score'] = sat_results.iloc[:,-3:].sum(axis=1,skipna=False)

In [76]:
sat_results

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,1207.0
...,...,...,...,...,...,...,...
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,NaN,NaN,NaN,NaN
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,NaN,NaN,NaN,NaN
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,NaN,NaN,NaN,NaN
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426,1322.0
477,79X490,PHOENIX ACADEMY,9,367,370,360,1097.0

### Extract Geographic Data(longitude and latitude) to uncover any possible geographic patterns

In [80]:
hs_directory = data['hs_directory']

In [83]:
hs_directory['Location 1'][0]

'50 Avenue\nX Brooklyn, NY 11223\n(40.589238098, -73.981746524)'

In [88]:
pattern = re.compile(r'\((?P<Lat>.+),')

In [89]:
hs_directory['Location 1'].str.extract(pattern)

              Lat
0    40.589238098
1    40.685451806
2    40.744149536
3    40.815230365
4    40.601989336
..            ...
430  40.765026708
431  40.840373398
432  40.696961848
433  40.732485378
434   40.58211615

[435 rows x 1 columns]

In [90]:
hs_directory['lat'] = hs_directory['Location 1'].str.extract(pattern)

In [97]:
pattern = re.compile(r'\(.+, (?P<Lon>.+)\)')

In [98]:
hs_directory['Location 1'].str.extract(pattern)

               Lon
0    -73.981746524
1    -73.993491465
2    -73.933626741
3    -73.955201206
4    -73.762834323
..             ...
430  -73.992516578
431  -73.910838008
432  -73.910815939
433  -73.983053388
434  -73.972894492

[435 rows x 1 columns]

In [99]:
hs_directory['lon'] = hs_directory['Location 1'].str.extract(pattern)

In [100]:
hs_directory.dtypes

dbn               object
school_name       object
borough           object
building_code     object
phone_number      object
                  ...
BIN              float64
BBL              float64
NTA               object
lat               object
lon               object
Length: 66, dtype: object

In [101]:
hs_directory[['lat','lon']] = hs_directory[['lat','lon']].apply(pd.to_numeric,errors='coerce')

In [102]:
hs_directory.dtypes

dbn               object
school_name       object
borough           object
building_code     object
phone_number      object
                  ...
BIN              float64
BBL              float64
NTA               object
lat              float64
lon              float64
Length: 66, dtype: object